<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokémon Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="pokemon">
    <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
    <ion-card-header>
      <ion-card-title>{{ pokemon.name | uppercase }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button expand="block" (click)="nextPokemon()">Próximo Pokémon</ion-button>
 
  <ion-button expand="block" (click)="viewPokemonDetails()">Ver Detalhes do Pokémon Atual</ion-button>
  <ion-button expand="block" (click)="viewAllPokemons()">Ver Todos os Pokémons</ion-button>
</ion-content>
